#admin-dashboard {
  .form-group,
  .adminlist-filters {
    label {
      margin: 0 0 0.5em;

      display: block;

      color: var(--primary);

      font-size: 0.875em;
    }

    input[type='text'],
    input[type='number'],
    input[type='tel'],
    input[type='email'],
    input[type='password'],
    select,
    textarea,
    output {
      color: var(--text);
      background-color: var(--light);
      border-radius: var(--radius);
      border: none;
      outline: 0;
      box-shadow: none;

      transition: background 0.3s ease-out;

      &:not(:disabled):focus {
        color: white;
        background-color: var(--primary);
      }
    }

    .input-group {
      overflow: hidden;

      border-radius: var(--radius);

      .input-group-append,
      .input-group-prepend {
        color: white;
        background-color: var(--primary);
        border: 0 !important;
      }

      input,
      output,
      select,
      textarea {
        border-radius: 0;
      }
    }
  }

  form,
  .adminlist {
    .btn,
    button {
      border-radius: var(--radius);
      border: none;
      outline: 0;
      box-shadow: none;

      font-weight: bold;
      font-family: 'Montserrat', sans-serif;

      &:not(:disabled) {
        cursor: pointer;
      }
    }
  }
}
