#admin-dashboard,
.admin-dashboard__style {
  .card {
    border-color: var(--light);
    border-radius: var(--radius);
    background-color: var(--snow);

    .card-header {
      color: var(--text);
      background-color: var(--snow);
      border-bottom-color: var(--light);
    }
  }
}
