#admin-dashboard,
.admin-dashboard__style {
  .form-group,
  .adminlist {
    label:not(.custom-control-label) {
      margin: 0 0 0.5em;

      display: block;

      color: var(--primary);

      font-size: 0.875em;
      font-weight: bold;
    }

    input[type='text'],
    input[type='number'],
    input[type='tel'],
    input[type='email'],
    input[type='password'],
    input[type='search'],
    input[type='file'],
    select,
    textarea,
    output,
    .form-control {
      color: var(--text) !important;
      background-color: var(--light) !important;
      border-radius: var(--radius) !important;
      border: none !important;
      outline: 0;
      box-shadow: none !important;

      font-size: 1rem;

      transition: background-color $admin-timing / 2 ease-out;

      &:not(textarea):not(:disabled):focus {
        color: var(--primary) !important;
      }

      &:disabled,
      &:read-only {
        background-color: var(--snow) !important;
        border: 1px solid var(--light) !important;
      }
    }

    input:-internal-autofill-selected {
      text-decoration: underline;
    }

    ::placeholder {
      opacity: 0.7;

      line-height: 1.7;
      font-size: 0.875em;
      font-style: italic;
    }

    .input-group {
      > * {
        border-radius: 0;

        &:first-child {
          border-top-left-radius: var(--radius) !important;
          border-bottom-left-radius: var(--radius) !important;
        }

        &:last-child {
          border-top-right-radius: var(--radius) !important;
          border-bottom-right-radius: var(--radius) !important;
        }
      }

      .input-group-append,
      .input-group-prepend {
        color: var(--snow);
        background-color: var(--primary);
        border: 0 !important;
      }

      input,
      output,
      select,
      textarea {
        border-radius: 0;
      }
    }

    .custom-control-input {
      &:not(:checked) {
        ~ .custom-control-label {
          &:before {
            background-color: var(--light);
            border-color: var(--light);
          }
        }
      }
      &:checked {
        ~ .custom-control-label {
          &:before {
            background-color: var(--primary);
            border-color: var(--primary);
          }
        }
      }
    }

    .custom-file-label {
      color: var(--dark);
      background-color: var(--light);
      border-color: var(--light);

      &:after {
        background-color: var(--primary);
      }
    }
  }

  form,
  .adminlist,
  .modal {
    .btn,
    button {
      border-radius: var(--radius);
      border: none;
      outline: 0;
      box-shadow: none;

      font-weight: bold;
      font-family: 'Montserrat', sans-serif;

      &:not(:disabled) {
        cursor: pointer;
      }
    }

    .input-group,
    .btn-group {
      .form-control,
      .btn {
        border-radius: 0 !important;

        &:first-child {
          border-top-left-radius: var(--radius) !important;
          border-bottom-left-radius: var(--radius) !important;
        }

        &:last-child {
          border-top-right-radius: var(--radius) !important;
          border-bottom-right-radius: var(--radius) !important;
        }
      }
    }
  }

  .md-editor {
    .md-editor__head {
      position: -webkit-sticky;
      position: sticky;

      .btn-group {
        + .btn-group {
          margin-left: 0.5em;
        }
      }

      .md-editor__toggle {
        @include above($laptop) {
          display: none;
        }
      }
    }

    .md-editor__body {
      height: 70vh;

      display: flex;
      overflow: hidden;

      .md-editor__input,
      .md-editor__preview {
        flex: 0 0 100%;
        height: 100%;
        max-height: none;

        overflow: auto;

        border-radius: 0 !important;

        transition: margin-left $admin-timing ease 0s;

        @include above($laptop) {
          flex-shrink: 1;
        }
      }

      @include below($laptop) {
        &.md-editor__toggle-preview {
          .md-editor__input {
            margin-left: -100%;
          }
        }
      }
    }
  }

  .admin-board.admin-board__small,
  .admin-board.admin-board__hidden {
    .row {
      padding: 1em;

      > [class*='col-'] {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }
}
