#admin-dashboard,
.admin-dashboard__style {
  .form-group,
  .adminlist {
    label:not(.custom-control-label) {
      margin: 0 0 0.5em;

      display: block;

      color: var(--primary);

      font-size: 0.875em;
      font-weight: bold;
    }

    input[type='text'],
    input[type='number'],
    input[type='tel'],
    input[type='email'],
    input[type='password'],
    input[type='search'],
    input[type='file'],
    select,
    textarea,
    output,
    .form-control {
      color: var(--text) !important;
      background-color: var(--light) !important;
      border-radius: var(--radius) !important;
      border: none !important;
      outline: 0;
      box-shadow: none !important;

      font-size: 1rem;

      transition: background-color $admin-timing / 2 ease-out;

      &:not(:disabled):focus {
        color: var(--snow) !important;
        background-color: var(--primary) !important;
      }

      &:disabled,
      &:read-only {
        background-color: var(--snow) !important;
        border: 1px solid var(--light) !important;
      }
    }

    input:-internal-autofill-selected {
      text-decoration: underline;
    }

    ::placeholder {
      opacity: 0.7;

      line-height: 1.7;
      font-size: 0.875em;
      font-style: italic;
    }

    .input-group {
      > * {
        border-radius: 0;

        &:first-child {
          border-top-left-radius: var(--radius) !important;
          border-bottom-left-radius: var(--radius) !important;
        }

        &:last-child {
          border-top-right-radius: var(--radius) !important;
          border-bottom-right-radius: var(--radius) !important;
        }
      }

      .input-group-append,
      .input-group-prepend {
        color: var(--snow);
        background-color: var(--primary);
        border: 0 !important;
      }

      input,
      output,
      select,
      textarea {
        border-radius: 0;
      }
    }

    .custom-control-input {
      &:not(:checked) {
        ~ .custom-control-label {
          &:before {
            background-color: var(--light);
            border-color: var(--light);
          }
        }
      }
      &:checked {
        ~ .custom-control-label {
          &:before {
            background-color: var(--primary);
            border-color: var(--primary);
          }
        }
      }
    }

    .custom-file-label {
      color: var(--dark);
      background-color: var(--light);
      border-color: var(--light);

      &:after {
        background-color: var(--primary);
      }
    }
  }

  form,
  .adminlist,
  .modal {
    .btn,
    button {
      border-radius: var(--radius);
      border: none;
      outline: 0;
      box-shadow: none;

      font-weight: bold;
      font-family: 'Montserrat', sans-serif;

      &:not(:disabled) {
        cursor: pointer;
      }
    }

    .input-group {
      .form-control,
      .btn {
        border-radius: 0 !important;
      }
    }
  }

  .md-preview {
    > .text.md-preview-content {
      position: relative;

      max-height: 70vh;
      padding: 0.75em 0.5em;

      color: var(--text);
      border: 1px solid var(--light);
      border-radius: var(--radius);

      overflow: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;

      font-size: 0.875rem;

      &:before {
        content: 'preview';
        position: absolute;
        top: 50%;
        left: 50%;

        color: var(--text);
        opacity: 0.05;

        font-size: 2em;
        font-weight: bold;
        text-transform: uppercase;

        transform: translate(-50%, -50%) rotate(-30deg);
      }
    }
  }

  .admin-board.admin-board__small,
  .admin-board.admin-board__hidden {
    .row {
      padding: 1em;

      > [class*='col-'] {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }
}
