.admin-board-title {
  margin: 0.5em 0;

  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: none;
}

#admin-dashboard,
.admin-dashboard__style {
  .admin-board__body {
    line-height: 1.44;

    h1,
    h2 {
      @extend .admin-board-title;
      color: var(--primary);
      font-size: 1.5em;
    }
  }

  h3 {
    @extend .admin-board-title;
    font-size: 1.5em;
  }

  h4 {
    @extend .admin-board-title;
    font-size: 1em;
  }

  h5,
  h6 {
    @extend .admin-board-title;

    font-size: 0.8125em;
    text-transform: uppercase;
  }

  h5 {
    color: var(--primary);
  }

  h6 {
    color: var(--light);
  }

  p {
    margin: 0;

    font-size: 1em;

    + p {
      margin-top: 0.5em;
    }

    a {
      color: var(--primary);
      border-bottom: 2px dotted var(--primary);

      text-decoration: none;
    }
  }

  blockquote {
    margin: 1em 0;
    padding: 0.5em 0.75em;

    background-color: var(--light);
    border-left: var(--radius) solid var(--primary);
    border-radius: var(--radius);

    font-style: italic;
  }

  dl {
    dt {
      margin-right: 0.5em;

      float: left;
      clear: left;

      font-weight: bold;
    }

    dd {
      margin-bottom: 0;
      padding-left: 1em;
    }
  }

  strong,
  b {
    font-weight: bold;
  }

  em,
  i {
    font-style: italic;
  }

  @each $var, $color in $admin-colors {
    .text-#{$var} {
      color: var(--#{$var}) !important;
    }

    .btn.btn-#{$var} {
      color: var(--#{$var}) !important;
      background-color: var(--light) !important;
      border: 0;

      &:hover,
      &:focus {
        color: white !important;
        background-color: var(--#{$var}) !important;
      }
    }

    .btn.btn-outline-#{$var} {
      color: var(--#{$var}) !important;
      background-color: transparent !important;
      border: 0;

      &:hover,
      &:focus {
        color: white !important;
        background-color: var(--#{$var}) !important;
      }
    }

    .badge.badge-#{$var} {
      color: white !important;
      background-color: var(--#{$var}) !important;
      border-color: var(--#{$var});
    }

    .alert.alert-#{$var} {
      color: var(--#{$var}) !important;
      background-color: var(--light) !important;
      border-color: var(--#{$var}) !important;
      border-width: 0 !important;
      border-left-width: 0.25em !important;
      border-radius: 0 !important;
    }
  }
}
