#admin-dashboard {
  .admin-board {
    background-color: white;

    @include between($tablet, $desktop) {
      box-shadow: $admin-shadow;

      &.admin-board__small {
        z-index: 42;
      }
    }
  }

  .admin-board__content {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    @include above($desktop) {
      border-radius: 1em;
      box-shadow: $admin-shadow;
    }
  }

  .admin-board__head {
    position: sticky;
    top: 0;
    z-index: 12;

    flex: 0 0 auto;
    margin-bottom: 1em;
    padding: 1em;

    background-color: var(--primary);

    font-family: 'Montserrat', sans-serif;

    transition: 0.25s ease-in;

    @include above($tablet) {
      margin-bottom: 3em;
      padding: 2em;
      padding-bottom: 0 !important;
    }

    &:before {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;

      padding-top: 12%;

      background-color: inherit;

      transform: skewY(-6deg);
      transform-origin: right top;
    }

    a {
      color: inherit;
    }

    > *:empty {
      display: none;
    }

    .admin-board__head-title,
    .admin-board__head-content {
      color: white;
    }
    .admin-board__head-title {
      margin: 0 !important;

      font-weight: bold;
      font-size: 1.5em;
      text-transform: none;

      @include above($tablet) {
        margin-bottom: 0.5em !important;

        font-size: 2em;
      }
    }

    .admin-board__head-content {
      font-size: 0.75em;

      @include above($tablet) {
        font-size: 0.875em;
      }
    }

    .admin-board__head-actions {
      position: absolute;
      bottom: 0;
      right: 1em;
      // margin-top: -2em;
      text-align: right;
      transform: translateY(50%);

      @include above($tablet) {
        right: 2em;
      }

      .btn {
        margin-left: 0.5em;

        color: var(--primary);
        background-color: white;
        border: 0;
        border-radius: 50%;
        box-shadow: $admin-shadow;
      }
    }
  }

  .admin-board__body {
    position: relative;

    flex: 1 0 auto;
    padding-bottom: 6em;

    background: white none no-repeat center bottom 1em;
    background-size: auto 4em;

    &:after {
      content: '';

      position: absolute;
      top: 40vh;
      left: 50%;
      z-index: 54;

      width: 2em;
      height: 2em;
      margin-left: -1em;
      margin-top: -1em;

      border: 1em solid var(--primary);
      border-top-color: white;
      border-bottom-color: white;
      border-radius: 1em;
      opacity: 0;

      transition: opacity 0.3s ease-in-out 0.3s;
      animation: rotate 0.5s linear 0s infinite forwards;

      pointer-events: none;
    }

    &.admin-board__loading {
      &:after {
        opacity: 1;
      }
    }
  }

  .admin-board {
    .admin-board__head {
      &:before {
        @include above($tablet) {
          content: '';
        }
      }
    }
  }

  .admin-board.admin-board__full {
    .admin-board__head {
      &:before {
        @include above($tablet) {
          content: none;
        }
      }
    }
  }

  .admin-board__full {
    @include above($tablet) {
      .admin-board__head {
        background-color: white;

        .admin-board__head-title,
        .admin-board__head-content {
          color: var(--primary);
        }

        .admin-board__head-actions {
          .btn {
            color: white;
            background-color: var(--primary);
          }
        }
      }
    }

    .admin-board__body {
      flex: 1 0 auto;
      padding: 1em;

      background-image: none !important;
      background-size: 0 0;

      @include above($tablet) {
        padding: 2em;
      }

      @include above($desktop) {
        padding: 3em;
      }
    }
  }
}
