#admin-dashboard {
  @include below($tablet) {
    padding-bottom: 2em;
  }

  @include above($tablet) {
    padding-top: 2em;
  }
}

#admin-dashboard-nav {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 500;

  padding: 0;

  background-color: var(--snow);
  box-shadow: var(--shadow);
  box-shadow: $admin-shadow;

  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;

  @include above($tablet) {
    bottom: auto;
    top: 0;
  }

  @include above($desktop) {
    top: 0.75em;

    box-shadow: none;
  }

  @include below($desktop) {
    font-size: 0.8125em;
  }

  &:before,
  &:after {
    content: '';

    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 5;

    width: 2em;

    background-image: linear-gradient(to right, var(--snow), transparent);
  }

  &:before {
    left: 0;
  }

  &:after {
    right: 0;

    transform: scaleX(-1);
  }

  .breadcrumb {
    position: relative;

    margin: 0;
    padding: 0.5em 2em;

    display: flex;
    flex-wrap: nowrap;
    overflow-y: auto;

    background-color: var(--snow);

    .breadcrumb-back {
      margin-right: 1em;

      color: var(--primary);

      font-size: 1.44em;
      line-height: 1;

      &[disabled] {
        color: var(--light);

        cursor: default;
        pointer-events: none;
      }
    }

    .breadcrumb-item {
      position: relative;

      flex: 0 0 auto;
      padding: 0.3em 1em 0.2em;

      overflow: hidden;

      color: var(--snow);
      background-color: var(--primary);
      border-radius: 0.3em;
      white-space: nowrap;

      line-height: 1;

      * {
        color: inherit;
        text-decoration: none;
      }

      &:before,
      &:after {
        content: none;
      }

      + .breadcrumb-item {
        margin-left: -0.2em;
        padding-left: 2em;

        &:after {
          content: '';

          position: absolute;
          top: 0.2em;
          left: -0.35em;
          z-index: 4;

          width: 1.2em;
          height: 1.2em;

          background-color: var(--primary);
          border: 0.25em solid var(--snow);
          border-left-width: 0;
          border-bottom-width: 0;
          border-radius: 0.2em;

          transform: rotate(50.5deg) skew(12deg);
        }
      }

      &.active {
        color: var(--primary);
        background-color: var(--light);
      }
    }
  }
}
