#admin-menu {
  .nav-link {
    padding: 0.5em 1em;
    color: var(--primary);

    font-weight: bold;
    font-size: 1.2em;

    transition: 0.3s;

    &:not(.active):hover {
      color: var(--text);
    }

    &.active {
      color: var(--text);
      background-color: var(--light);
    }
  }
}
