#admin-menu {
  .nav-link {
    color: var(--text);
    border-bottom: 1px solid var(--light);

    font-weight: bold;
    font-size: 1.2em;

    &.active {
      color: var(--primary);
      background-color: var(--light);
    }
  }
}
