#admin-menu {
  .nav-item {
    border-bottom: 1px solid var(--light);
  }

  .nav-link {
    color: var(--primary);

    font-weight: bold;
    font-size: 1.2em;

    &.active {
      background-color: var(--light);
    }
  }
}
